<section id="content" class="container m-b-45 m-t-20" ng-controller="MainCtrl">
  <div class="row text-center">
    <div class="col-sm-6">
          <div class="row">
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/bicycle.png" alt="Bicycle"></a>
                </div>
                <div class="cube-desc velvet">Bicycle</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/motorbike.png" alt="Motorbike"></a>
                </div>
                <div class="cube-desc velvet">Motorbike</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/car.png" alt="Car"></a>
                </div>
                <div class="cube-desc velvet">Car</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/caravan.png" alt="Caravan"></a>
                </div>
                <div class="cube-desc velvet">Caravan</div>
              </div>
        </div><!-- Inner Row -->
    </div> 
    <div class="col-sm-6">
          <div class="row">
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/laptop.png" alt="Laptop"></a>
                </div>
                <div class="cube-desc velvet">Laptop</div>   
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/tablet.png" alt="Tablet"></a>                      
                </div>
                <div class="cube-desc velvet">Tablet</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w45">
                  <a href="#"><img src="images/squares/phone.png" alt="Phone"></a>                                            
                </div>
                <div class="cube-desc velvet">Phone</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w70">
                  <a href="#"><img src="images/squares/skis.png" alt="Skis"></a>                               
                </div>
                <div class="cube-desc velvet">Skis</div>
              </div>
        </div><!-- Inner Row -->
    </div>        
  </div><!-- Row -->
  <div class="row text-center">
    <div class="col-sm-6">
          <div class="row">
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w70">
                  <a href="#"><img src="images/squares/dinghy.png" alt="Dinghy"></a>
                </div>
                <div class="cube-desc velvet">Dinghy</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w32">
                  <a href="#"><img src="images/squares/surfboard.png" alt="Surfboard"></a>                      
                </div>
                <div class="cube-desc velvet">Surfboard</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/skateboard.png" alt="Skateboard"></a>                      
                </div>
                <div class="cube-desc velvet">Skateboard</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w16">
                  <a href="#"><img src="images/squares/cricket-bat.png" alt="Cricket Bat"></a>               
                </div>
                <div class="cube-desc velvet">Cricket Bat</div>
              </div>
        </div><!-- Inner Row -->
    </div> 
    <div class="col-sm-6">
          <div class="row">
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w56">
                  <a href="#"><img src="images/squares/racket.png" alt="Racket"></a>      
                </div>
                <div class="cube-desc velvet">Racket</div>   
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/hockey-stick.png" alt="Hockey Stick"></a>     
                </div>
                <div class="cube-desc velvet">Hockey Stick</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded w32">
                  <a href="#"><img src="images/squares/javelin.png" alt="Javelin"></a> 
                </div>
                <div class="cube-desc velvet">Javelin</div>
              </div>
              <div class="col-xs-3">
                <div class="cube velvet-bg img-rounded">
                  <a href="#"><img src="images/squares/helmet.png" alt="Helmet"></a> 
                </div>
                <div class="cube-desc velvet">Helmet</div>
              </div>
        </div><!-- Inner Row -->
    </div>        
  </div><!-- Row -->
</section><!-- Content -->