<section id="content">
  <div class="banner">
    <div class="container">
      <div class="row center-table text-center">
        <div class="col-sm-4">
          <div class="module">
            <div class="blue-bg center-table-header clearfix">
              <h3 class="white m-10">Simple</h3>
              <p class="white f-18 m-b-10">£10.00</p>
            </div>
            <div class="center-table-desc blue-bg semi-transparent clearfix">
              <h4 class="black f-16 bold m-b-10"><b>10 custom stickers</b></h4>
              <ul class="black list-unstyled text-left">
                <li>10 in black</li>
                <li>Flag without white</li>
                <li>For white surfaces only</li>
              </ul>
              <img class="m-b-20" src="images/tick.png" alt="tick">
            </div>                
          </div><!-- Module -->
        </div>
        <div class="col-sm-4">
          <div class="module">
            <div class="velvet-bg center-table-header clearfix">
              <h3 class="white m-10">Simple</h3>
              <p class="white f-18 m-b-10">£10.00</p>
            </div>
            <div class="center-table-desc velvet-bg semi-transparent clearfix">
              <h4 class="black f-16 bold m-b-10"><b>10 custom stickers</b></h4>
              <ul class="black list-unstyled text-left">
                <li>10 in black</li>
                <li>Flag without white</li>
                <li>For white surfaces only</li>
              </ul>
              <img class="m-b-20" src="images/tick.png" alt="tick">
            </div>                
          </div><!-- Module -->
        </div>
        <div class="col-sm-4">
          <div class="module">
            <div class="orange-bg center-table-header clearfix">
              <h3 class="white m-10">Simple</h3>
              <p class="white f-18 m-b-10">£10.00</p>
            </div>
            <div class="center-table-desc orange-bg semi-transparent clearfix">
              <h4 class="black f-16 bold m-b-10"><b>10 custom stickers</b></h4>
              <ul class="black list-unstyled text-left">
                <li>10 in black</li>
                <li>Flag without white</li>
                <li>For white surfaces only</li>
              </ul>
              <img class="m-b-20" src="images/tick.png" alt="tick">
            </div>                
          </div><!-- Module -->
        </div>            
      </div><!-- Row -->
    </div><!-- Container -->
  </div><!-- Banner -->
</section><!-- Content -->